.root {
  font-family: sans-serif;
  --background-color: rgb(211, 240, 246);
  --accent-color: #0ea5e9;
}
body {
  color: #475569;
  background-color: rgb(211, 240, 246);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: #1e293b;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #0777ab;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e293b;
  font-family: sans-serif;
}

.container {
  display: flex;
  background-color: #e1f7fc;
}

.container div {
  margin: 0px;
  padding: 10px;
  font-size: 20px;
}
.header {
  /* color: #1b2430; */
  color: #475569;
  background-color: #e1f7fc;
  padding: 15px 0;
  transition: all 0.5s;
  z-index: 997;
  border-bottom: 1px solid rgb(187, 186, 186);
}
.header a {
  text-decoration: none;
}

/* Navigation Menu style */
.navmenu {
  padding: 0;
}
.navmenu ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  color: #475569;
}

.navmenu li {
  position: relative;
}

.navmenu a,
.navmenu a:focus {
  color: #0ea5e9;
  padding: 18px 15px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
}
.navmenu a i,
.navmenu a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
  transition: 0.3s;
}

.navmenu .dropdown ul {
  margin: 0;
  padding: 10px 0;
  background: #e1f7fc;
  display: block;
  position: absolute;
  visibility: hidden;
  left: 14px;
  top: 130%;
  opacity: 0;
  transition: 0.3s;
  border-radius: 4px;
  z-index: 99;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.navmenu .dropdown ul li {
  min-width: 200px;
}

.navmenu .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  color: #475569;
}

.navmenu .dropdown ul a i {
  font-size: 12px;
}

.navmenu .dropdown ul a:hover,
.navmenu .dropdown ul .active:hover,
.navmenu .dropdown ul li:hover > a {
  color: #0ea5e9;
}

.navmenu .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navmenu .dropdown .dropdown ul {
  top: 0;
  left: -90%;
  visibility: hidden;
}

.navmenu .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: -100%;
  visibility: visible;
}

.btn-getstarted,
.btn-getstarted:focus {
  color: #ffffff;
  background: #0ea5e9;
  font-size: 14px;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 50px;
  transition: 0.3s;
  align-items: right;
}

.header .btn-getstarted:hover,
.header .btn-getstarted:focus:hover {
  color: #ffffff;
  background: #66bfe8;
}
